# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools |
|----------------------------------|
| Numpy                            |
| Matplotlib                       |
| Pandas                           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
resultado = (3*4)+5
print(resultado)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hour = min / 60
print(hour)

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
- Enumerate common libraries used by Data Scientists.
- Introduce examples of arithmetic expressions in Python.
- Convert minutes to hours and perform simple arithmetic calculations.

## Author

 Guillermo Moran